extends ../template/layout
include ../mixins/form-helper

block content
  h1 Address Book
  h2 New Person Page
  a(href="/../people"): p People
  form(action="/people", method="post")
    mixin field('name', 'Full Name', 'Bob...', true)
    mixin field('gender', 'Gender', 'Male...')
    mixin field('age', 'Age', '30...')
    mixin field('color', 'Color', '#ff55cc...')
    button(type="submit") Save
