.row
  .small-6.columns
    h5.subheader
      small: a(href="mailto:millerkatiej@gmail.com") Created by Katie Miller - 2013
  .small-4.columns
  .small-2.columns
    h5.subheader.right
      small: a(href="https://github.com/millerkatiej/NSS-FrontEnd/tree/master/2013-11-18-ParkNashville" ) Check out the code!
