.row
  .small-12.columns
    img#pnLogo(src='./images/tnflag.jpeg')
.row
  .small-12.columns
    nav.top-bar
      ul.title-area
        li.name
          h1: a(href='http://localhost:3000') Home
          //- this needs to be changed for each page
      section.top-bar-section
        ul.right
          li
            a(href='#') Frequently Asked Questions
          li.divider
          li.has-dropdown: a(href='#' data-dropdown='drop1') Search By Neighborhood
            ul#drop1.f-dropdown
              li: a(href='http://localhost:3000/fivepoints') 5 Points
              li: a(href='#') 8th South
              li: a(href='#') 12th South
              li: a(href='#') Belmont
              li: a(href='#') Downtown/Broadway
              li: a(href='#') Elliston Place
              li: a(href='#') TN Fairgrounds
              li: a(href='#') Fisk/Meharry
              li: a(href='http://localhost:3000/germantown') Germantown
              li: a(href='#') Green Hills
              li: a(href='#') The Gulch
              li: a(href='#') Hillsboro Village
              li: a(href='#') Lipscomb
              li: a(href='#') Metrocenter
              li: a(href='#') Midtown
              li: a(href='#') Music Row
              li: a(href='#') North Nashville
              li: a(href='#') Riverside Village
              li: a(href='#') SoBro
              li: a(href='#') Sylvan Park
              li: a(href='#') TSU
              li: a(href='#') Vanderbilt