.row
  .small-12.columns
    div.orbit-container
      ul(data-orbit)
        li.active
          img(src="/images/logo.gif" alt="slide 1")
        li
          img(src="/images/eastnash.gif" alt="slide 2" )
        li
          img(src="/images/hillsboro.gif" alt="slide 3")
        li
          img(alt="slide 4" src="/images/downtown.gif")
        li
          img(src="/images/sylvan.gif" alt="slide 5")
        li
          img(src="/images/fisk.gif" alt="slide 6")



.row
  .small-12.columns
    nav.top-bar
      ul.title-area
        li.name
          h1: a(href='/') Home
      section.top-bar-section
        ul.right
          li.divider
          li.has-dropdown
            a(href='#' data-dropdown="drop1") Search By Neighborhood
            ul#drop1.f-dropdown
              li: a(href='/fivepoints') 5 Points
              li: a(href='/eighthsouth') 8th South
              li: a(href='/twelfthsouth') 12th South
              li: a(href='/belmont') Belmont
              li: a(href='/downtown') Downtown/Broadway
              li: a(href='/elliston') Elliston Place
              li: a(href='/fairgrounds') TN Fairgrounds
              li: a(href='/fisk') Fisk/Meharry
              li: a(href='/germantown') Germantown
              li: a(href='/greenhills') Green Hills
              li: a(href='/gulch') The Gulch
              li: a(href='/hillsboro') Hillsboro Village
              li: a(href='/lipscomb') Lipscomb
              li: a(href='/metrocenter') Metrocenter
              li: a(href='/midtown') Midtown
              li: a(href='/musicrow') Music Row
              li: a(href='/nations') The Nations
              li: a(href='/northnashville') North Nashville
              li: a(href='/riverside') Riverside Village
              li: a(href='/sobro') SoBro
              li: a(href='/sylvanpark') Sylvan Park
              li: a(href='/tsu') TSU
              li: a(href='/vanderbilt') Vanderbilt