html, body, #map-canvas {
  height: 100%;
}

#map-canvas
{
  border: 1px solid black;
}

#left, #right {
  height: 100%;
  float: left;
}

#left {
  width: 70%;
}

#right {
  width: 30%;
}

#startbutton, #stopbutton, #addbutton {
  width: 100%;
}