doctype 5
html
  head
    title Cats!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Cats Rock!!
    p Welcome to my cat page
    img(src='http://jasonlefkowitz.net/wp-content/uploads/2013/07/Cute-Cats-cats-33440930-1280-800.jpg')