#left
  #map-canvas
#right
  .row
    .small-12.columns
      %h3#text Find Me!
  .row
    .small-12.columns
      %input#startbutton.button.small.success.radius{type: 'button', value: 'START'}
  .row
    .small-12.columns
      %input#stopbutton.button.small.radius{type: 'button', value: 'STOP'}
  .row
    .small-12.columns
      %input#erasebutton.button.small.alert.radius{type: 'button', value: 'ERASE'}
  .row
    .small-12.columns
      %h4#debug