%script{src: '/js/vendor/jquery-1.10.2.js'}
%script{src: '/js/vendor/foundation.min.js'}
%script{src: '/js/vendor/underscore.js'}
%script{src: '/js/vendor/moment.min.js'}
%script{src: 'https://cdn.firebase.com/v0/firebase.js'}
%script{src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDxgmOZtxEu2Kh5KWKm2ew95yE9Nr1yEv4&sensor=true'}
%script{src: '/js/app/app.js'}
