extends ../template/layout.jade
block content
  h1 New Color Form
  form(action='/colors', method='post')
    input(name='color',type='text', placeholder='blue', autofocus=true)
    button(type='submit') Save Color
