extends ../template/layout

block content
  .row
    .small-2.columns
      a(href="../movies"): input.button.small.success.expand(type="button", value="Movies")
    .small-10.columns
      h1 Home Page
