#left
  #map-canvas

#right
  .row
    .small-12.columns
      %input#startbutton.button.small.radius.success{type: 'button', value: 'START'}
  .row
    .small-12.columns
      %input#stopbutton.button.small.radius.alert{type: 'button', value: 'STOP'}
  .row
    .small-12.columns
      %input#addtext{type: 'text', placeholder: 'Location Name'}
  .row
    .small-12.columns
      %input#addbutton.button.small.radius{type: 'button', value: 'ADD'}
